# 7th Feb

In [19]:
import pandas as pd

In [21]:
# import data
df=pd.read_csv("..\..\Downloads\Government_Appointments_to_State_Parastatal_Agencies.csv")
df.head()

,GAZETTE_NOTICE_NO_,Year,ACT,Cap,Persons_Appointed_,Position_,Date_Appointed_,Start_Date,End_Date,Person_Appointing_,Apointers_Position,Ministry,Parastatle_Appointed_to_,Duration_Months,Status,Gender,Original_GN,Original_GN_Year,OBJECTID
0,2827,01/01/2015 12:00:00 AM,The State Corporations Act,446.0,Gershom Otachi,Chairperson,04/17/2015 12:00:00 AM,05/20/2015 12:00:00 AM,NaN,Uhuru Kenyatta,President,NaN,Geothermal Development Company,36.0,Appointed,m,NaN,NaN,0
1,2828,01/01/2015 12:00:00 AM,The State Corporations Act,446.0,Sammy Choge,Chairperson,04/17/2015 12:00:00 AM,04/17/2015 12:00:00 AM,NaN,Uhuru Kenyatta,President,NaN,Chemelil Sugar Company,36.0,Appointed,m,NaN,NaN,1
2,2829,01/01/2015 12:00:00 AM,Agricultural Development Corporation Act,444.0,Musa Sirma,Member of the Board,04/17/2015 12:00:00 AM,04/17/2015 12:00:00 AM,NaN,Uhuru Kenyatta,President,NaN,Agricultural Development Corporation,36.0,Appointed,m,NaN,NaN,2
3,2829,01/01/2015 12:00:00 AM,Agricultural Development Corporation Act,444.0,Susan Akinyi Wakiaga,Member of the Board,04/17/2015 12:00:00 AM,04/17/2015 12:00:00 AM,NaN,Uhuru Kenyatta,President,NaN,Agricultural Development Corporation,36.0,Appointed,f,NaN,NaN,3
4,2829,01/01/2015 12:00:00 AM,Agricultural Development Corporation Act,444.0,Joseph Miriti Mwereria,Member of the Board,04/17/2015 12:00:00 AM,04/17/2015 12:00:00 AM,NaN,Uhuru Kenyatta,President,NaN,Agricultural Development Corporation,36.0,Appointed,m,NaN,NaN,4

In [22]:
df.isna().sum()

GAZETTE_NOTICE_NO_            0
Year                          0
ACT                           0
Cap                         166
Persons_Appointed_            1
Position_                     0
Date_Appointed_              48
Start_Date                   20
End_Date                    284
Person_Appointing_            0
Apointers_Position            0
Ministry                     44
Parastatle_Appointed_to_      5
Duration_Months              19
Status                        0
Gender                       23
Original_GN                 285
Original_GN_Year            305
OBJECTID                      0
dtype: int64

In [23]:
df.columns #shows all columns

Index(['GAZETTE_NOTICE_NO_', 'Year', 'ACT', 'Cap', 'Persons_Appointed_',
       'Position_', 'Date_Appointed_', 'Start_Date', 'End_Date',
       'Person_Appointing_', 'Apointers_Position', 'Ministry',
       'Parastatle_Appointed_to_', 'Duration_Months', 'Status', 'Gender',
       'Original_GN', 'Original_GN_Year', 'OBJECTID'],
      dtype='object')

In [24]:
df.describe()

,GAZETTE_NOTICE_NO_,Cap,Duration_Months,Original_GN,Original_GN_Year,OBJECTID
count,305.000000,139.000000,286.000000,20.0000,0.0,305.000000
mean,2886.770492,432.705036,35.769231,3523.8000,NaN,152.000000
std,28.617827,62.181997,2.302378,3932.9613,NaN,88.190136
min,2827.000000,117.000000,10.000000,5.0000,NaN,0.000000
25%,2868.000000,441.000000,36.000000,2488.7500,NaN,76.000000
50%,2889.000000,446.000000,36.000000,2679.0000,NaN,152.000000
75%,2913.000000,447.500000,36.000000,2896.0000,NaN,228.000000
max,2929.000000,517.000000,36.000000,15765.0000,NaN,304.000000

In [25]:
df.describe(include='all')

,GAZETTE_NOTICE_NO_,Year,ACT,Cap,Persons_Appointed_,Position_,Date_Appointed_,Start_Date,End_Date,Person_Appointing_,Apointers_Position,Ministry,Parastatle_Appointed_to_,Duration_Months,Status,Gender,Original_GN,Original_GN_Year,OBJECTID
count,305.000000,305,305,139.000000,304,305,257,285,21,305,305,261,300,286.000000,305,282,20.0000,0.0,305.000000
unique,NaN,1,60,NaN,301,13,5,2,6,11,3,14,83,NaN,2,3,NaN,NaN,NaN
top,NaN,01/01/2015 12:00:00 AM,Water Act (No. 8 Of2002),NaN,Kennedy Ogeto,Member of the Board,04/21/2015 12:00:00 AM,04/17/2015 12:00:00 AM,04/26/2015 12:00:00 AM,Judi Wakhungu,Cabinet Secretary,"Environment, Water And Natural Resources",Agricultural Development Corporation,NaN,Appointed,m,NaN,NaN,NaN
freq,NaN,305,54,NaN,3,227,126,284,10,90,176,90,13,NaN,286,203,NaN,NaN,NaN
mean,2886.770492,NaN,NaN,432.705036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.769231,NaN,NaN,3523.8000,NaN,152.000000
std,28.617827,NaN,NaN,62.181997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.302378,NaN,NaN,3932.9613,NaN,88.190136
min,2827.000000,NaN,NaN,117.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,NaN,NaN,5.0000,NaN,0.000000
25%,2868.000000,NaN,NaN,441.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.000000,NaN,NaN,2488.7500,NaN,76.000000
50%,2889.000000,NaN,NaN,446.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.000000,NaN,NaN,2679.0000,NaN,152.000000
75%,2913.000000,NaN,NaN,447.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.000000,NaN,NaN,2896.0000,NaN,228.000000
max,2929.000000,NaN,NaN,517.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.000000,NaN,NaN,15765.0000,NaN,304.000000

In [26]:
df.dtypes

GAZETTE_NOTICE_NO_            int64
Year                         object
ACT                          object
Cap                         float64
Persons_Appointed_           object
Position_                    object
Date_Appointed_              object
Start_Date                   object
End_Date                     object
Person_Appointing_           object
Apointers_Position           object
Ministry                     object
Parastatle_Appointed_to_     object
Duration_Months             float64
Status                       object
Gender                       object
Original_GN                 float64
Original_GN_Year            float64
OBJECTID                      int64
dtype: object

In [ ]:
df['Start_Date'] to

In [27]:
df['Gender'] = df['Gender'].astype('category')
df['Gender'].dtype

CategoricalDtype(categories=['M', 'f', 'm'], ordered=False)

In [28]:
dates = ['Date_Appointed_', 'Start_Date', 'End_Date', 'Year']
for Date

TypeError: data type "Date" not understood

In [30]:
df.rename(columns = {'M':'m'}, inplace = True)
df['M']

KeyError: 'M'

In [31]:
df.apply(lambda x: x.value_counts()).T.stack()

C:\Users\vchepkoit\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexes\api.py:107: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  result = result.union(other)
C:\Users\vchepkoit\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:7397: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  index = _union_indexes(indexes)

GAZETTE_NOTICE_NO_  2829    11.0
                    2870    10.0
                    2920     8.0
                    2914     7.0
                    2927     7.0
                    2890     7.0
                    2923     7.0
                    2922     7.0
                    2928     7.0
                    2929     6.0
                    2894     6.0
                    2888     6.0
                    2887     6.0
                    2913     6.0
                    2897     6.0
                    2916     6.0
                    2872     6.0
                    2924     6.0
                    2882     5.0
                    2904     5.0
                    2871     5.0
                    2875     5.0
                    2889     5.0
                    2906     4.0
                    2908     4.0
                    2866     4.0
                    2867     4.0
                    2874     4.0
                    2881     4.0
                    2884     4.0
                            ...
OBJECTID            214      1.0
                    215      1.0
                    216      1.0
                    217      1.0
                    218      1.0
                    219      1.0
                    220      1.0
                    221      1.0
                    222      1.0
                    223      1.0
                    224      1.0
                    225      1.0
                    208      1.0
                    191      1.0
                    207      1.0
                    192      1.0
                    193      1.0
                    194      1.0
                    195      1.0
                    196      1.0
                    198      1.0
                    199      1.0
                    200      1.0
                    201      1.0
                    202      1.0
                    203      1.0
                    204      1.0
                    205      1.0
                    206      1.0
                    0        1.0
Length: 946, dtype: float64

In [35]:
df.groupby('Position_').count()

,GAZETTE_NOTICE_NO_,Year,ACT,Cap,Persons_Appointed_,Date_Appointed_,Start_Date,End_Date,Person_Appointing_,Apointers_Position,Ministry,Parastatle_Appointed_to_,Duration_Months,Status,Gender,Original_GN,Original_GN_Year,OBJECTID
Position_,,,,,,,,,,,,,,,,,,
Board of Directors Chairperson,4,4,4,4,4,4,4,0,4,4,0,4,4,4,4,0,0,4
Board of Trustees Chairperson,2,2,2,2,2,1,1,2,2,2,0,2,1,2,2,1,0,2
Chairperson,36,36,36,13,36,32,32,6,36,36,10,36,31,36,35,6,0,36
Commisioners,4,4,4,0,4,4,4,0,4,4,4,4,4,4,3,0,0,4
Council Members,10,10,10,10,10,10,10,0,10,10,10,10,10,10,10,0,0,10
Director,2,2,2,2,2,2,2,0,2,2,2,2,2,2,2,0,0,2
Member of the Board,227,227,227,102,226,189,212,13,227,227,216,222,214,227,208,13,0,227
Member of the Board of Trustees,1,1,1,0,1,1,1,0,1,1,1,1,1,1,1,0,0,1
Members of the Advisory Board,5,5,5,0,5,5,5,0,5,5,5,5,5,5,5,0,0,5
Members of the Board of Directors,6,6,6,6,6,1,6,0,6,6,6,6,6,6,6,0,0,6
Members of the Oversight Board,1,1,1,0,1,1,1,0,1,1,1,1,1,1,1,0,0,1
Non-Executive Chairperson,1,1,1,0,1,1,1,0,1,1,0,1,1,1,1,0,0,1
Trustee,6,6,6,0,6,6,6,0,6,6,6,6,6,6,4,0,0,6

In [37]:
df.('Position_').valuecount()

SyntaxError: invalid syntax (<ipython-input-37-10f21ed775c7>, line 1)

In [39]:
df.describe(include='all')

,GAZETTE_NOTICE_NO_,Year,ACT,Cap,Persons_Appointed_,Position_,Date_Appointed_,Start_Date,End_Date,Person_Appointing_,Apointers_Position,Ministry,Parastatle_Appointed_to_,Duration_Months,Status,Gender,Original_GN,Original_GN_Year,OBJECTID
count,305.000000,305,305,139.000000,304,305,257,285,21,305,305,261,300,286.000000,305,282,20.0000,0.0,305.000000
unique,NaN,1,60,NaN,301,13,5,2,6,11,3,14,83,NaN,2,3,NaN,NaN,NaN
top,NaN,01/01/2015 12:00:00 AM,Water Act (No. 8 Of2002),NaN,Kennedy Ogeto,Member of the Board,04/21/2015 12:00:00 AM,04/17/2015 12:00:00 AM,04/26/2015 12:00:00 AM,Judi Wakhungu,Cabinet Secretary,"Environment, Water And Natural Resources",Agricultural Development Corporation,NaN,Appointed,m,NaN,NaN,NaN
freq,NaN,305,54,NaN,3,227,126,284,10,90,176,90,13,NaN,286,203,NaN,NaN,NaN
mean,2886.770492,NaN,NaN,432.705036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.769231,NaN,NaN,3523.8000,NaN,152.000000
std,28.617827,NaN,NaN,62.181997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.302378,NaN,NaN,3932.9613,NaN,88.190136
min,2827.000000,NaN,NaN,117.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,NaN,NaN,5.0000,NaN,0.000000
25%,2868.000000,NaN,NaN,441.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.000000,NaN,NaN,2488.7500,NaN,76.000000
50%,2889.000000,NaN,NaN,446.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.000000,NaN,NaN,2679.0000,NaN,152.000000
75%,2913.000000,NaN,NaN,447.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.000000,NaN,NaN,2896.0000,NaN,228.000000
max,2929.000000,NaN,NaN,517.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.000000,NaN,NaN,15765.0000,NaN,304.000000

In [40]:
df['Date_Appointed_'].min()

TypeError: '<=' not supported between instances of 'str' and 'float'

In [43]:
df['Duration_idle'] = df['Date_Appointed_'] - df['Start_Date']
df.sample(5)

TypeError: unsupported operand type(s) for -: 'str' and 'str'