# Horticultural Exports

In [2]:
import pandas as pd

In [10]:
# import data
df=pd.read_csv("..\..\Downloads\Distribution_of_Donor_and_GOK_Funded_Projects_2013_to_2015.csv")
df.head()

,objectid,projectid,epgeoname,y,x,ward,constituency,county,project_cost_yearly_breakdown__,total_project_cost__kes_,...,project_title,project_description,project_objectives,ng_programme,vision_2030_flagship_ministry,vision_2030_flagship_project_pr,implementing_agency,implementation_status,mtef_sector,work_plan_progress____
0,1,2013/054253,Unspecified,-4.593836,39.136688,VANGA,LUNGALUNGA,KWALE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2,2013/054557,Unspecified,-4.437633,39.513272,NaN,MSAMBWENI,KWALE,9.333333e+08,1.400000e+09,...,Standards And Market Access Programme,Improve surveillance and risk analysis capabil...,Improvement in the adoption and implementation...,010700 - General Administration Planning and S...,"Ministry of Agriculture, Livestock and Fisheries",Setting up of Five Livestock Disease-free Zone...,"116 - Ministry of Agriculture, Livestock and F...",Planned,"Agriculture, Rural and Urban Development (ARUD)",0
2,3,2014/054836,Unspecified,-4.437633,39.513272,NaN,MSAMBWENI,KWALE,1.432821e+09,4.298464e+09,...,Rehabilitation Of Bachuma Gate-Maji Ya Chumvi ...,THE ROAD PROJECT IS APPROXIMATELY 53KM LONG SI...,PROVIDE ACCESS TO ECONOMIC AND SOCIAL SERVICES...,020200 - Road Transport,Unspecified,Unspecified,109 - Ministry of Transport and Infrastructure,Ongoing,"Energy, Infrastructure and ICT",0
3,4,2014/055098,Unspecified,-4.437633,39.513272,NaN,MSAMBWENI,KWALE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,5,2012/053881,Unspecified,-4.341045,39.553797,UKUNDA,MSAMBWENI,KWALE,1.640000e+10,1.860000e+10,...,Mombasa Port Area Road Development Project,Constuction of By Pass (dongo Kundu),Improve traffic flow,020200 - Road Transport,Unspecified,Unspecified,109 - Ministry of Transport and Infrastructure...,Ongoing,"Energy, Infrastructure and ICT",0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 6 columns):
TYPE_OF_COMMODITY          1800 non-null object
COMMODITY                  1800 non-null object
KGs                        1800 non-null float64
Value_of_Goods_Exported    1788 non-null object
DATE                       1800 non-null object
OBJECTID                   1800 non-null int64
dtypes: float64(1), int64(1), object(4)
memory usage: 84.5+ KB

In [7]:
df.columns()

TypeError: 'Index' object is not callable

In [8]:
df.describe()

                KGs    OBJECTID
count  1.800000e+03  1800.00000
mean   1.322300e+05   899.50000
std    8.114427e+05   519.75956
min    0.000000e+00     0.00000
25%    0.000000e+00   449.75000
50%    5.710000e+02   899.50000
75%    7.014528e+03  1349.25000
max    1.104919e+07  1799.00000

In [9]:
df.isna().sum()

TYPE_OF_COMMODITY           0
COMMODITY                   0
KGs                         0
Value_of_Goods_Exported    12
DATE                        0
OBJECTID                    0
dtype: int64